{% extends 'core/base.html' %}
{% load static %}

{% block styleLink %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock styleLink %}

{% block title %}Restablecimiento de contraseña completado{% endblock %}
{% block sidenav %}{% endblock sidenav %}
{% block content %}
<main role="main">
  <div class="container mt-5">
    <div class="row mt-3 title">
      <div class="col-md-8 mx-auto mb-5">
        <h1 class="mt-4 mb-4 d-flex justify-content-center text-center">Restablecimiento de contraseña finalizado</h1>
        <p class="lead w-75 mx-auto">Su nueva contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
        <a href="{% url 'login' %}" class=" d-flex justify-content-center text-decoration-none">
          <input id="id_email" type="submit" class="mt-4 btn btn-success" value="Iniciar Sesion">
        </a>
      </div>
    </div>
  </div>
</main>
{% endblock %}