{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}

{% block styleLink %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock styleLink %}

{% block content %}
<style>
  .errorlist {
    color: red;
  }
</style>
<main role="main">
  <div class="container mx-auto mt-5 title">
      
    
      <form class='form-group col-md-8 mx-auto mt-4 needs-validation w-50' action="" method="post" novalidate>{% csrf_token %}
        <h1 class="mb-4 d-flex justify-content-center">Restablecer contraseña</h1>
        <p class="text-justify d-flex justify-content-center lead">Ingresa la dirección de correo electrónico que utilizaste para registrarte.<br/> Te enviaremos un mensaje con tu nombre de usuario y un enlace para restablecer tu contraseña. </p>
        <input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control mt-4" placeholder="Introduce tu dirección de correo">
        <div class="invalid-feedback">
          El Email ingresado es invalido
        </div>
        {% if form.errors %}
          <small class="form-text" style="color: red;">
              El Email ingresado es invalido            
          </small>
        {% endif %}
        <input id="id_email" type="submit" class="mt-4 mx-0 btn btn-block btn-success" value="Confirmar">          
        </form>
    </div>
  </div> 
</div>
    
  </div>
</main>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>
{% endblock %}