{% extends 'core/base.html' %}
{% load static %}
{% block title %}Reestablecimiento{% endblock %}

{% block styleLink %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock styleLink %}

{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-8 mx-auto title">
        {% if validlink %}
          <form class="form-group col-md-10 mx-auto mt-4 needs-validation w-75" action="" method="post">{% csrf_token %}
            <h1 class="mb-4 d-flex justify-content-center">Escriba la nueva contraseña</h1>
            <p class="lead">Por favor introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
            {{form.new_password1.errors}}
            <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control mt-4" placeholder="Introduce la nueva contraseña"/>
            {{form.new_password2.errors}}
            <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control mt-4" placeholder="Repite la nueva contraseña"/>
            <input class="btn btn-primary btn-block mx-0 mt-4 mb-5" type="submit" value="Cambiar mi contraseña"/>
          </form>
        {% else %}
          <h3 class="mb-4">Restablecimiento de contraseñas fallido</h3>
          <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña<a href="{% url 'password_reset' %}">aquí</a>.</p>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}