{% extends 'core/base.html' %}

{% load staticfiles %}
{% block title %}Inicio{% endblock title %}

{% block content %}
<!-- <style>label{display: none;}</style> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 abs-center">
            <!-- ESTA ES LA PARTE DEL FORMULARIO PARA EL LOGUIN -->
            <div class=" col-md-8">
                <div class="inicioSesion">
                    <img src="{% static 'img/user.png' %}" alt="usuario avatar" class="mx-auto d-block img-avatar mb-3">
                    {% if 'register' in request.GET %}
                        <p style="color:green;">Usuario registrado correctamente, ya puedes identificarte</p>
                    {% endif %}
                    <form action="" method="post" class="needs-validation" novalidate>{% csrf_token %}
                       <h3>Registro</h3>
                       {{form}}
                       <p><input type="submit" class ="btn btn-primary" value="Confirmar"></p>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-md-6 col-sm-12 arbol abs-center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quasi nisi ut amet porro ipsa
                architecto! Ipsam doloremque animi ad sequi asperiores at aperiam aliquid hic recusandae,
                repudiandae ex possimus!</p>
        </div>
    </div>
</div>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<style>
    .abs-center {
        display: flex;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .arbol {
        background-color: #A5B94A;
        margin-top: 0px;
    }

    .inicioSesion {
        border-radius: 9px;
        background-color: #88D7D0;
        padding: 40px;
    }

    .img-avatar {
        min-width: 100px;
        min-height: 100px;
        max-width: 20%;
        max-height: 20%
    }
</style>

{% endblock content %}