<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock title%} | Arboles Urbanos</title>

    {% load static %}

    <!-- Bootstrap -->
    <link href="#" rel="stylesheet">

    <!-- Fuentes -->

    <!-- Estilos -->
    <link href="#" rel="stylesheet">

</head>
<body>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Arboles Urbanos</span>
    </h1> 

    <!-- Cabecera -->

        {% block header %}
                
        {% endblock header %}    

    <!-- Contenido -->

        {% block content %}
        
        {% endblock content %} 

    <!-- Pié de página -->
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 mbt1">&copy; Arboles Urbanos</p>
        </div>
    </footer>

    <!-- Bootstrap -->

</body>