{% extends 'core/home.html' %}

{% load static %}

{% block content %}
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

		<div class="col-9 col-lg-10 align-self-end justify-content-center overflow-auto">
		    <button class="d-sm-none btn menu fixed-bottom " data-toggle="collapse" data-target="#sidebar"
		        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		        <img class='img-responsive p-1' width="40" height="50" src="{% static 'img/iconos/menu2.png' %}" alt="Eventos">
		    </button>
		    <section class="page-section flex-shrink-1">
		    <div class="container">
		        <div class="cards-container ml-md-5 mt-3">
		            {% for o in object_list %}
		                <div class="card mb-3 cards1">
		                    <div class="row no-gutters">
		                        <div class="col-md-4">
		                            {% if o.img %}
		                                <img src="{{o.img.url}}" width="179px" height="240px" classobject_lists="card-img" alt="..." style="margin-left: 0px !important;">
		                            {% else %}
		                                <img src="..." class="card-img-top" alt="...">
		                            {% endif %}
		                            <img src="{% static 'img/iconos/informacion.png' %}" class="iconos" alt="">
		                        </div>
		                        <div class="col-md-8">
		                            <div class="card-body">
		                                <strong class="d-inline-block mb-2 text-danger">Información</strong>
		                                <h5 class="card-title">Titulo</h5>
		                                <div class="mb-1 text-muted">{{o.creation_date}}</div>
		                                <p class="card-text limitar">{{o.text}} <a href="#">Ver más</a></p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            {% endfor %}

		            {% for i in informativo %}
		                <div class="card mb-3 cards1">
		                    <div class="row no-gutters">
		                        <div class="col-md-4">
		                            <img src="{{i.img.url}}" width="179px" height="240px" class="card-img" alt="...">
		                            <img src="{% static 'img/iconos/informacion.png' %}" class="iconos" alt="">
		                        </div>
		                        <div class="col-md-8">
		                            <div class="card-body">
		                                <strong class="d-inline-block mb-2 text-danger">Información</strong>
		                                <h5 class="card-title">Título</h5>
		                                <div class="mb-1 text-muted"> {{i.creation_date}}</div>
		                                <p class="card-text limitar">{{i.text}}<a href="#">Ver más</a></p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            {% endfor %}

		            
		        </div>
		    </div>

		</section>
		</div>

{% endblock content %}