.arbol {
  background-color: #155e63;
  color: #f9f8eb;
}

.contacto{
  background-color: #f9f8eb;
  color: #155e63;
  padding: 1em;
}


.carousel-item img {
  width: 55%;
  height: 50%;
  margin: auto;
}

.btn {
  font-size: large;
  background-color: #76b39d;
  border-radius: 25px;
  border: 1px solid #76b39d;
  color: #f9f8eb;
}

.btn:hover {
  background-color: #155e63;
}