main {
    margin: 0px;
    padding: 0px;
}

.enviar {
    font-size: large;
    background: #76B39D;
    border-radius: 25px;
    border: 1px solid #76b39d;
}

.enviar:hover {
    background: #155E63;
}

.required:after {
    content: ' *';
    color: red;
}