body {
    font-family: 'Roboto', sans-serif;
}

.card-img {
    margin-left: 0px;
}

.cards1 {
    max-width: 650px;
}

.card-img {
    margin-left: 0px;
}

.iconos {
    position: absolute; 
    right: 600px; 
    left: 5px; 
    top: 192px; 
    margin-left: 0px;
}

.no-gutters {
    padding: 15px;
    border: 1px solid #155E63;
}
#sidebar{
    background-color: #155e63;
}

.sticky-offset{
    top: 5.9em;
}

.icono {
    width: 20px;
    height: auto;
}

#sidebar a {
    text-decoration: none;
    color: #f9f8eb;
}

.menu {
    background-color: #94aa2a;
    border-radius: 55%;
}

.arboles{
    background:transparent url('/static/img/iconos/tree1.png') no-repeat center center;
}