.abs-center {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.arbol {
    background-color: #155e63;
    color: #f9f8eb;
    margin-top: 0px;
}

.login {
    background-color: #f9f8eb;
    color: #155e63;
}
.login .estado {
    font-size: small;
    background-color: #f9f8eb;
    border-radius: 40% 0% 0% 40%;
    border: 1px solid #155e63;
    color: #155e63;
    width: 75px;
    height: 32px;

}

.login .registro {
    font-size: small;
    background-color: #155e63;
    border-radius: 0% 40% 40% 0%;
    border: 1px solid #155e63;
    color: #f9f8eb;
    width: 75px;
    height: 32px;
}