.arbol {
    background-color: #155e63;
    color: #f9f8eb;
}

.login {
    background-color: #f9f8eb;
    color: #155e63;
    padding: 1em;
}

.login .estado {
    font-size: small;
    background-color: #f9f8eb;
    border-radius: 25px 0px 0px 25px;
    border: 1px solid #155e63;
    color: #155e63;
}

.login .registro {
    font-size: small;
    background-color: #155e63;
    border-radius: 0px 25px 25px 0px;
    border: 1px solid #155e63;
    color: #f9f8eb;
}

.login .ingresar {
    font-size: large;
    background-color: #76b39d;
    border-radius: 25px;
    border: 1px solid #76b39d;
    color: #f9f8eb;
}

.login .ingresar:hover {
    background-color: #155e63;
}

.carousel-item img {
    width: 55%;
    height: 50%;
    margin: auto;
}

.carousel-caption p, h5{
    color: white;
    background-color: rgba(21, 94, 99, 0.7);
    size: 4px;
}