body {
    background: #f2f2f2;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#registro {
    background: white;
    top: 65px;
    padding: 20px;
    
}

#formRegistro {
    font-weight: bold;
    background: #a3b847;
    top: 65px;
    padding-top: 20px;
    height: 450px;
    padding-left: 40px;
}


label {

    margin-bottom: 2px !important;
}

input {
    font-size: 14px !important;
    height: 33px !important;
    width: 230px !important;
}



#rowUsernameEmail, #rowBirthdateCellphone, #pass {
    margin-top: -6px;
}

#btnFacebook {
    font-size: 15px;    
    background: #3E5C9A;
}

#btnGoogle {
    margin-top: 10px;
    font-size: 15px;
    background: #ffffff;
    color: gray;
}

#btnRegistro {
    margin-top: 15px;
    margin-left: 180px;

}

#rowGral {
    margin-top: 23px;
    margin-left: 100px;
}

#lastname, #email, #cellphone {
    margin-right: 30px !important;

}