body {
    background: #f2f2f2;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.abs-center {
    display: flex;
    min-height: 100vh;
    padding-top: 45px;
    justify-content: center;
}

.welcome {
    color: #ffffff;
}

#registro {
    background: #a3b847;
    justify-content: center;
}

/* logo arboles urbanos */
#logo {
    width: 100px;
}

#formRegistro {
    font-weight: bold;
    background: #ffffff;
}

#btnFacebook {
    background: #3E5C9A;
}

#btnGoogle {
    background: #ffffff;
    color: gray;
    padding-right: 30px;

}

.btn-primary {
    margin-top: 15px;
    margin-left: 95px;
}

#btnRegistro {
    margin-top: 35px;
    margin-left: 160px;
}

#logoFace, #logoGoogle {
    width: 24px;
    margin-right: 7px;
}

#logoFace {
    background-color: white;
}

.form-control {
    background: #f2f2f2;
}