body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#contVisual {
    height: 370px;
}

h6 {
    margin-top: 30px;
}
.btn {
    background: #76B39D;
    margin-right: 14px;
    border: none;
}

.btnOk {
    position: absolute;
    top: 250px; 
    left: 115px;
}


#min {
    margin-left: 14px;
}

#colGral {
    margin-top: 50px;
}

.centrar {
    position: absolute;
    left: 68px;
    color: white;
    font-size: 17px;
    bottom: 114px;
    background: hsl(0, 0%, 40%, 0.6);
    padding: 4px;
    font-weight: 600;
}