<!DOCTYPE html>
<html>
<head>
	<title>arboles</title>
</head>
<body>
	<div>
		{% if arbol %}
			<h1>Arboles plantados: {{arbol.quantity}}</h1>
			<form enctype="multipart/form-data"  action="{% url 'arbol:edit_tree'  %}" method="POST">{% csrf_token %}{{form.as_p}}
			<input type="number" name="quantity">
			<input type="submit" name="Enviar">
			<input style="display: none" type="number" name="pk" value="{{arbol.pk}}">
		</form>
		{% else %}
			<h1>No existe</h1>
			<button href="{% url 'arbol:nuevo '%}">Crear nuevo</button>
		{% endif %}		
	</div>
</body>
</html> 