<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/login-style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 abs-center">
                <!-- ESTA ES LA PARTE DEL FORMULARIO PARA EL LOGUIN -->
                <div class=" col-md-8">
                    <div class="inicioSesion">

                        <img src="../static/img/user.png" alt="usuario avatar" class="mx-auto d-block img-avatar mb-3">
                        <form action="" method="post" class="needs-validation" novalidate>
                            <div class="form-grup row">
                                <input type="email" name="email" id="email" placeholder="Ingrese su email..."
                                    class="form-control mb-3">
                                <div class="invalid-feedback">
                                    Por favor ingrese un email válido.
                                </div>
                                <input type="password" name="contrasenia" id="password"
                                    placeholder="Insgrese su contraseña..." class="form-control mb-3">


                                <!-- {% if form.errors%} -->
                                <small style="color: red;">
                                    El usuario o la contraseña ingresada son incorrectas
                                    <br>
                                    Intentelo nuevamente.
                                </small>
                                <!-- {% endif %} -->
                                <button type="submit" class="mx-auto btn btn-success">Ingresar</button>
                            </div>
                        </form>
                    </div>
                    <div class="row mt-5">
                        <a href="http://" class="mx-auto">No recuerdas tu contraseña?</a>
                        <p class="mx-auto mt-3">¿No estas registrado? <a href="http://">Registrate</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 arbol abs-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quasi nisi ut amet porro ipsa
                    architecto! Ipsam doloremque animi ad sequi asperiores at aperiam aliquid hic recusandae,
                    repudiandae ex possimus!</p>
            </div>
        </div>
    </div>
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<style>
    .abs-center {
        display: flex;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .arbol {
        background-color: #A5B94A;
        margin-top: 0px;
    }

    .inicioSesion {
        border-radius: 9px;
        background-color: #88D7D0;
        padding: 40px;
    }

    .img-avatar {
        min-width: 100px;
        min-height: 100px;
        max-width: 20%;
        max-height: 20%
    }
</style>

</html>