{% extends 'core/base.html' %}
{% load static %}

{% load staticfiles %}
{% block styleLink %}
<link rel="stylesheet" href="{% static 'css/visualizacionStyle.css' %}">
<link rel="stylesheet" href="{% static 'css/registerUserStyle.css' %}">

{% endblock styleLink %}


{% block title %}Registro{% endblock title %}

{% block content %}

    <div class="about-heading-content">
        <div class="row">
          
            <div class="col-md-6 col-sm-12 arbol p-0">
                          <!--Carousel Wrapper-->
              <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                  <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                  <!--First slide-->
                  <div class="carousel-item active">
                    <img class="d-block w-100 img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg"
                      alt="First slide">
                  </div>
                  <!--/First slide-->
                  <!--Second slide-->
                  <div class="carousel-item">
                    <img class="d-block w-100 img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg"
                      alt="Second slide">
                  </div>
                  <!--/Second slide-->
                  <!--Third slide-->
                  <div class="carousel-item">
                    <img class="d-block w-100 img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"
                      alt="Third slide">
                  </div>
                  <!--/Third slide-->
                </div>
                <!--/.Slides-->
              </div>
              <!--/.Carousel Wrapper-->
            </div>
            <div class="registro col-md-6 col-sm-12 ">
                <div class="row mt-2 justify-content-end mr-2">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group" role="group">
                            <a href="{% url 'login' %}" class="btn estado m-0" role="button" aria-pressed="true">Inicio</a>
                            <a href="{% url 'usuario:register' %}" class="btn form" role="button" aria-pressed="true">Registro</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 mx-auto">
                    <div class="row d-flex justify-content-center mb-3">
                        <h1 class="section-heading-upper">Registro</h1>
                    </div>
                    <form action="{% url 'usuario:register' %}" method="POST" class="needs-validation" novalidate>{% csrf_token %}

                    <div class="row">
                        <div class="col">
                            <div class="form-group" id="first_name">
                                <label for="first_name">Nombre</label>
                                {{form.first_name}}
                                <small id="first_nameHelpText" class="text-muted">
                                    Debe contener cómo minimo 3 y maximo 30 caracteres.
                                </small>
                                {% if form.first_name.errors %}
                                <small style="color: red">
                                    <strong>{{form.first_name.errors}}</strong>
                                </small>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group" id="last_name">
                                <label for="last_name">Apellido </label>
                                {{form.last_name}}
                                <small id="lastnameHelpText" class="text-muted">
                                    Debe contener cómo minimo 3 y maximo 30 caracteres.
                                </small>
                                {% if form.last_name.errors %}
                                <small style="color: red">
                                    <strong>{{form.last_name.errors}}</strong>
                                </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>  
                    
                    <div class="row">
                        <div class="col">
                            <div class="form-group" id="username">
                                <label for="username">Nombre de Usuario </label>
                                {{form.username}}
                                <small id="usernameHelpText" class="text-muted">
                                    Debe contener cómo minimo 6 y maximo 8 letras o números.
                                </small>
                                {% if form.username.errors %}
                                <small style="color: red">
                                    <strong>{{form.username.errors}}</strong>
                                </small>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group" id="email">
                                <label for="email">Email </label>
                                {{form.email}}
                                <small id="" class="text-muted">
                                    Debe respetar el formato de email indicado.
                                </small>
                                {% if form.email.errors %}
                                <small style="color: red">
                                    <strong>{{form.email.errors}}</strong>
                                    <br>
                                </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group" id="cellphone">
                                <label for="cellphone">Celular </label>
                                {{form.cellphone}}
                                <small id="cellphoneHelpText" class="text-muted">
                                    Debe ingresar solo números, como mínimo 10 caracteres.
                                </small>
                                {% if form.cellphone.errors %}
                                <small style="color: red">
                                    <strong>{{form.cellphone.errors}}</strong>
                                </small>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col">   
                            <div class="form-group" id="birthday">
                                <label for="username">Fecha de Nacimiento </label>
                                {{form.birthday}}
                                <small id="" class="text-muted">
                                    Debe respetar el formato de fecha indicado.
                                </small>
                                {% if form.birthday.errors %}
                                <small style="color: red">
                                    <strong>{{form.birthday.errors}}</strong>
                                </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group" id="password1">
                                <label for="password1">Contraseña </label>
                                {{form.password1}}
                                <small id="password1HelpText" class="text-muted">
                                    Debe comenzar con mayúscula y contener entre 6 y un máximo de 8 letras o
                                    números.
                                </small>
                                {% if form.password1.errors %}
                                <small style="color: red;">
                                    <strong>{{form.password1.errors}}</strong>
                                </small>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group" id="password2">
                                <label for="password2">Repita su Contraseña </label>
                                {{form.password2}}
                                {% if form.password2.errors %}
                                <small style="color: red;">
                                    <strong>{{form.password2.errors}}</strong>
                                </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>      
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <button type="submit" id="btnRegistro" class="btn btn-success btn-lg mt-2"> Registrarse</button> 
                                </div>
                                <div class="col-md-12 m-0 p-0">
                                    <hr>
                                </div>
                                <div class="col-md-12 mb-4 d-flex justify-content-center">
                                    <a class="btn btn-outline-success btn-lg" href="#" role="button" id="btnGoogle">
                                        <img src="{% static 'img/search.png'%}" id="logoGoogle"/>Ingresar con Google
                                    </a>
                                </div>
                            </div>
                        </div>
                 </form>
            </div>
        </div>

<!-- <script>

    // // funcion comprobacion de campos de bootstrap
    // (function () {
    //     'use strict';
    //     window.addEventListener('load', function () {
    //         // Fetch all the forms we want to apply custom Bootstrap validation styles to
    //         var forms = document.getElementsByClassName('needs-validation');
    //         // Loop over them and prevent submission
    //         var validation = Array.prototype.filter.call(forms, function (form) {
    //             form.addEventListener('submit', function (event) {
    //                 if (form.checkValidity() === false) {
    //                     event.preventDefault();
    //                     event.stopPropagation();
    //                 }
    //                 form.classList.add('was-validated');
    //             }, false);
    //         });
    //     }, false);
    // })();

</script> -->
{% endblock content %}