{% extends 'core/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}Registro{% endblock title %}

{% block content %}

<body>
    <div class="container">
        <div class="row" id="rowGral">
            <div class="col-md-6 col-sm-12" id="registro">
                <img src="{% static 'img/logoarboles.png'%}" alt="" id="logo">
                <h3 class="welcome">Bienvenido</h3>
                <h6 class="welcome">Ingrese sus datos para acceder al sistema</h6>
            </div>
            <div class="col-md-6 col-sm-12 abs-center" id="formRegistro">
                <form action="" class="needs-validation" method="post" novalidate>{%csrf_token%}
                    <div class="row">
                        <div class="col">
                            <div class="form-group" id="username">
                                <label for="username"></label>
                                {{form.username|bootstrap}}
                                <!-- <input type="text" name="username" autofocus minlength="6" maxlength="254" required
                                    id="username" class="form-control" placeholder="Ingrese su usuario" /> -->
                                <div class="invalid-feedback">
                                    Por favor ingrese un usuario válido.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group" id="email">
                                <label for="email"></label>
                                <!-- {{form.email}} -->
                                {{form.email|bootstrap}}
                                <div class="invalid-feedback">
                                    Por favor ingrese un email válido.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group" id="">
                                <label for="firstname"></label>
                                {{form.first_name|bootstrap}}
                                <!-- <input type="text" name="username" autofocus minlength="6" maxlength="254" required
                                    id="username" class="form-control" placeholder="Ingrese su usuario" /> -->
                                <div class="invalid-feedback">
                                    Por favor ingrese un nombre válido.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group" id="">
                                <label for="lastname"></label>
                                {{form.last_name|bootstrap}}
                                <!-- <input type="text" name="username" autofocus minlength="6" maxlength="254" required
                                    id="username" class="form-control" placeholder="Ingrese su usuario" /> -->
                                <div class="invalid-feedback">
                                    Por favor ingrese un apellido válido.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group" id="cellphone">
                               <!--  <label for="cellphone">Celular:</label> -->
                                {{form.cellphone|bootstrap}}
                                <!-- <input type="tel" class="form-control" id="validNumber"
                                    placeholder="3624-112233" required> -->
                                <div class="invalid-feedback">
                                    Por favor, ingrese un número de celular válido.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group" id="birthday">
                                <!-- <label for="BirthDate">Fecha de Nacimiento:</label> -->
                                <!-- <input type="text" class="form-control" id="validBirthDate" placeholder="Ingrese su fecha de nacimiento" required> -->
                                {{form.birthday|bootstrap}}
                                <div class="invalid-feedback">
                                    Por favor, ingrese una fecha de nacimiento válida.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group" id="password1">
                               <!--  <label for="password1Reg">Ingrese su contraseña:</label> -->
                                {{form.password1|bootstrap}}
                                <!-- <input type="password" name="contrasenia" required id="password" minlength="6"
                                    maxlength="8" placeholder="Ingrese su contraseña" class="form-control"> -->
                                <div class="invalid-feedback">
                                    Por favor ingrese una contraseña válida.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group" id="password2Reg">
                                <!-- <label for="password2">Ingrese de nuevo su contraseña:</label> -->
                                {{form.password2|bootstrap}}
                                <!-- <input type="password" name="contrasenia2" required id="password" minlength="6"
                                    maxlength="8" placeholder="Ingrese su contraseña..." class="form-control"> -->
                                <div class="invalid-feedback">
                                    Las contraseñas no conciden. Inténtelo de nuevo
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col">

                        </div>
                        <div class="col">
                            <a class="btn btn-primary" href="#" role="button" id="btnFacebook"><img
                                    src="{% static 'img/facebook1.png'%}" id="logoFace">Ingresar con Facebook</a>
                        </div>
                        <div class="col">
                            <a class="btn btn-primary" href="#" role="button" id="btnGoogle"><img
                                    src="{% static 'img/search.png'%}" id="logoGoogle">Ingresar con Google</a>
                        </div>
                        {% if form.errors %}
                        <small style="color: red">
                            error
                            <br>
                            Intente nuevamente
                        </small>
                        {% endif %}
                        <button type="submit" id="btnRegistro" class=" btn btn-success">Registrarse</button>
                        <input type="hidden" name='next' value="{{next}}">
                    </div>
                </form>

            </div>
        </div>

    </div>

</body>
<!-- crear campo fecha de nacimiento  -->
<!-- <script type="text/javascript">
    $("#datetime").datetimepicker({
        format: 'dd-mm-aaaa',
        autoclose: true,
        todayBtn: true
    });
</script> -->
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

</html>
{% endblock content %}